/* ActivityStyles.css */

.activity-entity {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    margin-bottom: 4px;
    border-bottom: 1px solid black;
    border-radius: 5px;
  }
  
  .activity-message{
    font-size: small;
    width: 100%;
    height: auto;
   }
  .activity-message > p{
    word-wrap: break-word;
    white-space: normal;
    text-overflow: ellipsis;
   }

  .activity-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: x-small;
    width: 100%;
    color: brown;
  }
  .activity-option{
    margin-right: 10px;
    color: grey;
  }
  
  .activity-list {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
  }
  
  .activity-component {
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  