/* Styling for the table */
#table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling for table headers */
  #table th {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: left;
  }
  
  /* Styling for table rows */
  #table tr {
    border-bottom: 1px solid #ddd;
    width: 100%;
  }
  
  /* Styling for table cells */
  #table td {
    padding: 10px;
    overflow: hidden;    /* Hide any overflowing content */
    text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
    white-space: nowrap; /* Prevent text from wrapping */
  }
  
  /* Styling for table cells in specific columns */
  #table th {
    font-weight: bold;
    word-wrap: break-word; /* Add this property */ 
  }
  .col-id {
    width: 40px;
  }
  .col-title {
    width: 150px;
  }
  .col-owner {
    width: 100px;
  }
  .col-target {
    width: 100px;
  }
  .col-progress {
    width: 100px;
  }
  .col-status {
    width: 100px;
  } 
  .col-description {
    width: 40px;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
  .col-project {
    width: 100px;
  }
  
  /* Styling for even rows (alternating row color) */
  #table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Styling for table rows on hover */
  #table tr:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  /* Styling for responsive tables on small screens */
  @media (max-width: 768px) {
    #table {
      display: block;
      overflow-x: auto;
    }
    #table th, #table td {
      white-space: nowrap;
    }
  }
  