#table{
    justify-content: stretch;
    width: 100%;
    padding: 10px;
}
#table tr{
    text-align: left;
    padding: 5px;
    text-overflow: clip;
}
#table-row{
    margin-bottom: 10px;
    background-color: var(--code1_color4);
    border-radius: 5px;
}
.col-id{
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.col-title{
    width: 200px;
}
.col-owner{
    width: 120px;
}
.col-target{
    width: 120px;
}
.col-progress{
    width: 100px;
}
.col-status{
    width: 100px;
}