
.logout-button {
    padding: 10px;
    background-color: #fff; /* Updated color */
    color: #45a049;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  