/* Styling for the top navbar */
.top-navbar {
    background-color: #007bff; /* Eye-catching blue background for the navbar */
    color: #fff; /* White text color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    animation: slideInDown 1s ease-in-out; /* Animation */
  }
  
  /* Styling for the navbar links */
  .navbar-links {
    display: flex;
    align-items: center;
  }
  
  /* Styling for the title */
  #title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    background-color: #007bff; /* Blue background color for the title */
    padding: 5px 10px; /* Add padding to make the background more prominent */
    border-radius: 5px; /* Add rounded corners */
  }
  
  /* Keyframes for the slideInDown animation */
  @keyframes slideInDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  