/* Styling for the top navbar */
.navbar {
    background-color: #45a049; /* Eye-catching blue background for the navbar */
    color: #fff; /* White text color */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    animation: slideInDown 1s ease-in-out; /* Animation */
  }
  
  /* Styling for the navbar links */
  .navbar-links {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  /* Styling for the title */
  #navbar-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    background-color: #45a049; /* Blue background color for the title */
    padding: 5px 10px; /* Add padding to make the background more prominent */
    border-radius: 5px; /* Add rounded corners */
  }
  