/* projectView.css */

.project-view {
    width: 95%; 
    height: 95%;
    padding: 5px; /* Add 5px of padding */
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .project-title {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
  }
  .project-header {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

  
  .project-header > div {
    padding: 5px 10px;
    margin: 0px 10px;
    width: 150px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  .project-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 400px;
    background-color:blanchedalmond;
    border: #007BFF;
    border-radius: 5px;
  }
   
  .project-description {
    margin: 0;
    height: 200px;
  }

  .activity {
    display: flex;
    flex-direction: column;
    height: 200px; 
    overflow-y: auto;
    background-color: black;
    border-radius: 10px;
}
.activity > h4{
    padding: 5px;
    margin: 5px;
    background-color: beige;
    border-radius: 5px;
}
  .project-footer {
    margin-top: 20px;
  }
  
  /* Add additional styling or customizations as needed */
  