/* Styling for the side panel container */

.side-panel{
    background-color: var(--code1_color7);
    border-right: 1px solid var(--code1_color3);
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #f0f0f0; /* Light gray background color */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    height: 90%;
}
 
  /* Styling for the side panel heading */
  #side-panel-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Styling for panel sections */
  .panel-section {
    display: flex;
    background-color: #fff;
    height: 90%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  /* Styling for panel buttons */
  .panel-btn {
    background-color: #45a049; /* Blue color for buttons */
    color: #fff;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Styling for side panel links */
  .side-panel-links {
    font-size: 20px;
    cursor: pointer;
    color: #333; /* Dark gray color for links */
    margin-left: 10px;
  }
  
  /* Styling for side panel links on hover */
  .side-panel-links:hover {
    color: #45a049; /* Blue color on hover */
  }
  