.side-panel{
    background-color: var(--code1_color4);
    display: inherit;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    height: 100%;
    width: 20%;
    height: 95%;
}