.custom-dropdown {
    width: 150px; /* Adjust the width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    cursor: pointer;
  }
  
  .custom-dropdown option {
    background-color: #fff; /* Background color for options */
    color: #333; /* Text color for options */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
  }
  
  