/* Styling for the task view container */
.task-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.task-info {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  height: 90%;
}

/* Styling for the task title */
.task-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Styling for the task header */
.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

/* Styling for task status */
.task-status {
  color: #007bff; /* Blue color for status */
  font-weight: bold;
}

/* Styling for task owner */
.task-owner {
  color: #555; /* Dark gray color for owner */
}

/* Styling for task project */
.task-project {
  color: #ff8c00; /* Dark orange color for project */
}

/* Styling for task target */
.task-target {
  color: #008000; /* Green color for target */
}

/* Styling for task body */
.task-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  justify-content:center;
  align-items: flex-start;
}

/* Styling for task description */
.task-description {
  height: 90%;
  width: 80%;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Styling for the activity section */
.activity {
  height: 95%;
  width: 600px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

/* Styling for activity header */
.activity-header {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  margin: -10px -10px 10px -10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Styling for activity body */
.activity-body {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  height: 85%;
  flex-direction: column;
  align-items: center;
}

/* Styling for input field*/
.form-field {
  width: 100%;
  padding: 10px;
  margin: 0px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-field::placeholder {
  color: #aaa;
}

.form-field:focus {
  border-color: #007BFF; /* Change border color when focused */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle box shadow when focused */
}

  /* Styling for the Save button */
  .save-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  /* Styling for the search button on hover */
  .save-btn:hover {
    background-color: #0056b3;
  }
  
  /* Styling for search icon */
  .fa-search {
    margin-right: 5px;
  }